node_modules/
.editorconfig
.gitignore
Jenkinsfile
package-lock.json
README.md
.vscode/
deployment/
server/node_modules/
client/node_modules/
client/public/
client/src/
client/test
client/.babelrc
client/.env.development
client/.eslintrc
client/.gitignore
client/npm-debug.log
client/package-lock.json
client/README.md
server/test/
server/.babelrc
server/.gitignore
